
/* @CHARSET "UTF-8"; */


* {
	font-family:verdana, sans-serif;
	background-color:white;
	/* font-size:10px; */
}

#header {
	/* position:fixed;*/
	margin:20px;
	height:20px;
	color:#06246F;
	font-size:140%;
	
	
}

h1 {
	color:#06246F;
	font-size:140%;
}

table {
	width:100%;
	border-width:1px;
  	border-style:solid;
  	border-color:#6C8AD5;
  	
}

tr {
	border-width:1px;
  	border-style:solid;
  	border-color:#6C8AD5;
  	
}

th {
	background-color:#6C8AD5;
	color:white;
  	
}

td {
	border-width:1px;
  	text-align:center;
  	
}


.desc {
	text-align:left;
	color:#466FD5;
}
